.container {
  width: 50%;
  background-color: lightcoral;
  margin: auto;
  margin-top: 50px;
  border-radius: 15px;
  padding: 3px;
}

.task {
  background-color: lightseagreen;
  border-radius: 15px;
  padding: 3px;
  margin-top: 7px;
}

.container-input {
  display: flex;
  justify-content: space-around;
}

button {
  margin-top: 3px;
}
